# This file contains common pin mappings for MKS Robin Nano (v1.2.004)
# boards. To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable "extra low-level
# configuration setup", select the 28KiB bootloader, and serial (on
# USART3 PB11/PB10) communication.

# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano.bin
# Copy the file out/Robin_nano.bin to an SD card and then restart the
# printer with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# pi@fluiddpi3:~ $ ls /dev/serial/by-id/*
# /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

# Two Trees Blue 02

# [output_pin desliga]
# pin: host:gpio26

# [gcode_button aborta]
# pin: !host:gpio26
# press_gcode:
#     M112 

#[include printer_kp3sw.cfg]

########################## sample ###########
# This file contains common pin mappings for MKS Robin Nano (v1.2.004)
# boards. To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable "extra low-level
# configuration setup", select the 28KiB bootloader, disable "USB for
# communication", and select USART3 for the "Serial Port".

# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano.bin
# Copy the file out/Robin_nano.bin to an SD card and then restart the
# printer with that SD card.

# See the example.cfg file for a description of available parameters.


[include macros_kp3s.cfg]
[include timelapse.cfg]


[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

#[mcu host]
#serial: /tmp/klipper_host_mcu


#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: host:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    78, 78, 20  # an example

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 3000
max_accel_to_decel: 2500
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5

[input_shaper]
shaper_freq_x: 87.6 # 22600
shaper_type_x: mzv
shaper_freq_y: 51.2 #2900
shaper_type_y: 2hump_ei

[static_digital_output display_reset]
pins: !PC6, !PD13

[virtual_sdcard]
path: ~/gcode_files


[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
rotation_distance: 40
microsteps: 32
endstop_pin: ^!PA15
position_endstop: 1
position_max: 180
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PA3
run_current: 0.750
interpolate: True
stealthchop_threshold = 999999
uart_address: 0

########################################################################
[stepper_y]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: ^!PA12
position_endstop: 0
position_max: 180
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PA3
run_current: 0.750
interpolate: True
stealthchop_threshold = 999999
uart_address:1

########################################################################
[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
rotation_distance: 8
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: probe:z_virtual_endstop #defines the Z endstop as the BLtouch
position_min: -2 #lets us go lower to adjust the Z offset
position_max: 180
homing_speed: 10
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: PA3
run_current: 0.750
interpolate: True
stealthchop_threshold = 999999
uart_address:2

[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
#https://3dprintbeginner.com/rotation-distance-calculator/
rotation_distance: 8.33 #may need tune 
full_steps_per_rotation: 200
microsteps: 16
max_extrude_only_distance: 150.0
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC1
#control: pid
#pid_Kp: 14.669
#pid_Ki: 0.572
#pid_Kd: 94.068
min_temp: 0
max_temp: 265
pressure_advance: 0.157

[tmc2209 extruder]
uart_pin: PA3
run_current: 0.400 #0.750
interpolate: True
stealthchop_threshold = 999999
uart_address:3
########################################################################

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
#control: pid
#pid_Kp: 325.10
#pid_Ki: 63.35
#pid_Kd: 417.10
min_temp: 0
max_temp: 130

#####################################
#        Heater Verification        #
#####################################

[verify_heater heater_bed]
max_error: 120
check_gain_time: 60
hysteresis: 5
heating_gain: 2

[verify_heater extruder]
max_error: 120
check_gain_time: 30
hysteresis: 5
heating_gain: 2

########################################################################
[heater_fan hotblock]
pin: PB0
heater: extruder, heater_bed
heater_temp: 50.0
fan_speed: 1.0

[fan]
pin: PB1

########################################################################
#[bltouch]
#sensor_pin = ^PA11
#control_pin = PA8
#x_offset = -30
#y_offset = 0
##z_offset = 2.425
#pin_move_time = 0.4
#speed = 20 #5
#stow_on_each_sample = FALSE
##position_min: -3 enable this for z-offset callibration 

[bltouch]
sensor_pin = ^PA11
control_pin = PA8
x_offset = 30
y_offset = 0
#z_offset = 2.750
pin_move_time = 0.35
speed = 15
samples: 2
stow_on_each_sample = FALSE
#sample_retract_dist: 7.0
#lift_speed: 50

[safe_z_home]
home_xy_position = 85,85
speed = 50
z_hop = 8
z_hop_speed = 5

[screws_tilt_adjust]
screw1: 1,33
screw1_name: Front Left
screw2: 122,33
screw2_name: Front Right
screw3: 122,159
screw3_name: Rear Right
screw4: 1,159
screw4_name: Rear Left
horizontal_move_z: 10.
speed: 80
screw_thread: CW-M3

#[bed_mesh]
#speed: 80
#horizontal_move_z: 10
#mesh_min: 1,15
#mesh_max: 110,160
#probe_count: 4,4 #performs a 3x3 bed leveling test 
#relative_reference_index: 2
#algorithm = bicubic


[bed_mesh]
speed = 100
horizontal_move_z = 15
mesh_min = 30,15
mesh_max = 160,160
probe_count = 4,4
algorithm = bicubic
relative_reference_index: 2


#[bed_mesh]
#speed: 100
#horizontal_move_z: 8
#mesh_min: -30,15
#mesh_max: 170, 170
#probe_count: 3,3
#mesh_pps: 2,2
#algorithm: lagrange
#bicubic_tension: 0.2
#move_check_distance: 5
#split_delta_z: .025
#fade_start: 1.0
#fade_end: 10.0
########################################################################

[pause_resume]
recover_velocity: 50

[gcode_arcs]
resolution: 0.1

[display_status]
[pause_resume]

[temperature_sensor pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor case]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC2

#####################################
#              BEEPER               #
#####################################

[output_pin _BEEPER_pin]
pin: PC5
pwm: true
value: 1
shutdown_value: 0
cycle_time: 0.001
scale: 1000



#[gcode_macro PAUSE]
#rename_existing: BASE_PAUSE
##default_parameter_X: 5    #edit to your park position
##default_parameter_Y: 5    #edit to your park position
##default_parameter_Z: 10     #edit to your park position
##default_parameter_E: 0.5      #edit to your retract length
#gcode:
#    SAVE_GCODE_STATE NAME=PAUSE_state
#    BASE_PAUSE
#    G91
#    G1 E-{E} F2100
#    G1 Z{Z}
#    G90
#    G1 X{X} Y{Y} F6000

#[gcode_macro RESUME]
#rename_existing: BASE_RESUME
##default_parameter_E: 0.5      #edit to your retract length
#gcode:
#    G91
#    G1 E{E} F2100
#    G90
#    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
#    BASE_RESUME
    
#[gcode_macro CANCEL_PRINT]
#rename_existing: BASE_CANCEL_PRINT
#gcode:
#    TURN_OFF_HEATERS
#    CLEAR_PAUSE
#    SDCARD_RESET_FILE
#    BASE_CANCEL_PRINT    

###########################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.003750, -0.046875, 0.000000, 0.140625
#*# 	  0.016875, 0.005000, 0.006875, 0.023750
#*# 	  0.051250, 0.047500, 0.003750, 0.042500
#*# 	  -0.018125, 0.001250, -0.005000, -0.005000
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 15.0
#*# x_count = 4
#*# max_y = 159.99
#*# mesh_x_pps = 2
#*# max_x = 159.99
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 15.951
#*# pid_ki = 0.622
#*# pid_kd = 102.284
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 62.573
#*# pid_ki = 1.448
#*# pid_kd = 675.789
#*#
#*# [bltouch]
#*# z_offset = 1.900
