#Klipper config for Bluer Direct Drive - Robin Nano v2, TMC2209 in UART Mode


# This file contains common pin mappings for MKS Robin Nano V2
# boards. To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable "extra low-level
# configuration setup", select the 28KiB bootloader, and serial (on
# USART3 PB11/PB10) communication.

# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin
# Copy the file out/Robin_nano35.bin to an SD card and then restart the
# printer with that SD card.

# See docs/Config_Reference.md for a description of parameters.



[include macros.cfg]
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

[printer]
kinematics = cartesian
max_velocity = 200
max_accel = 2200
max_z_velocity = 10
max_z_accel = 100

[stepper_x]
step_pin = PE3
dir_pin = PE2
enable_pin = !PE4
microsteps = 32
rotation_distance = 40
endstop_pin = !PA15
position_endstop = 0
position_max = 235
homing_speed = 50

[stepper_y]
step_pin = PE0
dir_pin = PB9
enable_pin = !PE1
microsteps = 32
rotation_distance = 40
endstop_pin = !PA12
position_endstop = 0
position_max = 235
homing_speed = 50

[stepper_z]
step_pin = PB5
dir_pin = PB4
enable_pin = !PB8
microsteps = 16
rotation_distance = 8
position_max = 280
position_min = -2
endstop_pin = probe:z_virtual_endstop

[stepper_z1]
step_pin = PD15
dir_pin = PA1
enable_pin = !PA3
microsteps = 16
rotation_distance = 8
#position_max = 280
#position_min = -2


[extruder]
step_pin = PD6
dir_pin = !PD3
enable_pin = !PB3
microsteps = 16
rotation_distance = 7.71
nozzle_diameter = 0.400
filament_diameter = 1.750
heater_pin = PC3
sensor_type = EPCOS 100K B57560G104F
sensor_pin = PC1
control = pid
pid_kp = 15.352
pid_ki = 0.585
pid_kd = 100.750
min_temp = 0
max_temp = 255
max_extrude_only_distance = 120
pressure_advance = 0.0953


# UART config for x,y,z,z1,e

[tmc2209 stepper_x]
uart_pin: PD5
run_current: 0.6
hold_current: 0.5
interpolate: True
stealthchop_threshold: 160

[tmc2209 stepper_y]
uart_pin: PD7
run_current: 0.6
hold_current: 0.5
interpolate: True
stealthchop_threshold: 160

[tmc2209 stepper_z]
uart_pin: PD4
run_current: 0.6
hold_current: 0.5
interpolate: True
stealthchop_threshold: 30

[tmc2209 stepper_z1]
uart_pin: PD8
run_current: 0.6
hold_current: 0.5
interpolate: True
stealthchop_threshold: 30

[tmc2209 extruder]
uart_pin: PD9
run_current: 0.6
hold_current: 0.5
interpolate: True
stealthchop_threshold: 0

[heater_bed]
heater_pin = PA0
sensor_type = EPCOS 100K B57560G104F
sensor_pin = PC0
control = pid
pid_Kp = 70.338 
pid_Ki = 1.804 
pid_Kd = 685.792
min_temp = 0
max_temp = 120


## FANS 
[fan] # part colling fans
pin = PB1


[heater_fan HeatSink]
pin: PB0
heater: extruder
heater_temp: 40.0
fan_speed: 1.0


[bltouch]
sensor_pin = ^PA11
control_pin = PA8
x_offset = 40.50
y_offset = 8.70
z_offset = 1.35 #2.100 #2.110 #2.27 #2.547
pin_move_time = 0.4
speed = 10 #5
stow_on_each_sample = FALSE
#position_min: -3 enable this for z-offset callibration 

[bed_mesh]
speed = 130
horizontal_move_z = 5 #8
mesh_min = 42,42
mesh_max = 220,220
probe_count = 4,4 #6,6
algorithm = bicubic


# [bed_mesh]
# speed = 100
# horizontal_move_z = 5
# mesh_min = 40,40
# mesh_max = 220,220
# probe_count = 4,4
# algorithm = bicubic



[safe_z_home]
home_xy_position = 117.5,117.5
speed = 50
z_hop = 10
z_hop_speed = 5


[screws_tilt_adjust]
screw1: 1.30,24.20
screw1_name: Front Left
screw2: 166.30,24.20
screw2_name: Front Right
screw3: 166.30,194.20
screw3_name: Rear Right
screw4: 1.30,194.20
screw4_name: Rear Left
horizontal_move_z: 10.
speed: 70.
screw_thread: CW-M4


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_2=PE13, EXP1_4=PC6, EXP1_6=PE15, EXP1_8=PD10, EXP1_10=<5V>,
    EXP1_1=PC5, EXP1_3=PD13, EXP1_5=PE14, EXP1_7=PD11,  EXP1_9=<GND>,
    # EXP2 header
    EXP2_2=PA5, EXP2_4=PE0, EXP2_6=PE10,  EXP2_8=<RST>, EXP2_10=<3.3v>,
    EXP2_1=PA6, EXP2_3=PE8, EXP2_5=PE11, EXP2_7=PE12, EXP2_9=<GND>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

# See the sample-lcd.cfg file for definitions of common LCD displays.


## Visor
[output_pin _beeper]
pin: PC5 ##PC5 - 1.10 - (1.2)

[display]
lcd_type: uc1701
#   Set to "uc1701" for uc1701 displays.
cs_pin: PD13 #PD13 #PD13  # 17 - 1.8 -  PC6 ##PD10
a0_pin: PC6 #PC6 #PC6 # 16 - 1.7 - PD13 #PD11
#   The pins connected to a uc1701 type lcd. These parameters must be
#   provided.
rst_pin: PE14
#   The pin connected to the "rst" pin on the lcd. If it is not
#   specified then the hardware must have a pull-up on the
#   corresponding lcd line.
contrast: 60
#   The contrast to set. The value may range from 0 to 63 and the
#   default is 40.
encoder_pins: ^!PE8,^!PE11
click_pin: ^!PE13

## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
spi_software_sclk_pin: PA5



[neopixel visor]
pin: PE15
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: RGB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.016
initial_GREEN: 0.0
initial_BLUE: 0.42

[temperature_sensor PI4]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


[temperature_sensor NanoV2]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[z_tilt]
z_positions:
    0,117.5
    190,117.5
points:
    10,117.5
    190,117.5
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.02

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.052500, -0.067500, -0.027500, -0.015000, -0.022500, -0.055000
#*# 	-0.052500, -0.042500, -0.022500, -0.010000, -0.012500, -0.042500
#*# 	-0.070000, -0.067500, -0.017500, -0.005000, -0.002500, -0.027500
#*# 	-0.087500, -0.065000, -0.020000, 0.007500, 0.025000, 0.007500
#*# 	-0.110000, -0.085000, -0.022500, 0.017500, 0.042500, 0.047500
#*# 	-0.112500, -0.072500, -0.005000, 0.042500, 0.077500, 0.105000
#*# tension = 0.2
#*# min_x = 42.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 42.0
#*# x_count = 6
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 220.0
#*#
#*# [bltouch]
#*# z_offset = 0.600
